[submodule "dmd"]
	path = dmd
	url = git@github.com:symmetryinvestments/dmd.git
[submodule "phobos"]
	path = phobos
	url = git@github.com:symmetryinvestments/phobos.git
[submodule "dub"]
	path = dub
	url = git@github.com:dlang/dub.git
[submodule "reggae"]
	path = reggae
	url = git@github.com:kinke/reggae.git
[submodule "ninja"]
	path = ninja
	url = git@github.com:symmetryinvestments/ninja.git
[submodule "sdc"]
	path = sdc
	url = git@github.com:schveiguy/sdc.git
	branch = dmdbuild
